# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
venv/
.venv/
env/
*.log

# Node / React
node_modules/
dist/
.vite/
*.local

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env
.env
.env.local